#!/bin/bash

# https://stats.foldingathome.org/donor/$var_fah_user
# https://stats.foldingathome.org/team/$var_fah_team_id

# variables
LOCAL_IP_ADDRESS=`curl http://169.254.169.254/latest/meta-data/local-ipv4`

# update
yum update -y

# download 
wget "https://download.foldingathome.org/releases/public/release/fahcontrol/centos-6.7-64bit/v7.5/fahcontrol-7.5.1-1.noarch.rpm"
wget "https://download.foldingathome.org/releases/public/release/fahclient/centos-6.7-64bit/v7.5/fahclient-7.5.1-1.x86_64.rpm"

# install
yum install htop -y
rpm -i --nodeps fahcontrol-7.5.1-1.noarch.rpm
rpm -i --nodeps fahclient-7.5.1-1.x86_64.rpm

# stop it
/etc/init.d/FAHClient stop

# config
cp -pd /etc/fahclient/config.xml /etc/fahclient/config.xml.orig
cat > /etc/fahclient/config.xml <<EOF
<config>
  <fold-anon v='false'/>
  <gpu value='true'/>
  <smp value='true'/>
  <power value='full'/>
  <user value='$var_fah_user'/>
  <team value='$var_fah_team_id'/>
  <passkey value='$var_fah_pass'/>
  <allow>127.0.0.1 $${LOCAL_IP_ADDRESS} $var_your_ip_address</allow>
  <web-allow>127.0.0.1 $${LOCAL_IP_ADDRESS} $var_your_ip_address</web-allow>
</config>
EOF

# start
/etc/init.d/FAHClient stop
/etc/init.d/FAHClient start

# End;
