
# Add ssh key
resource "aws_key_pair" "fah-key-pair" {
  key_name   = "fah-key-pair"
  public_key = "<add your public key here at your own risk>"
}

# AMI
data "aws_ami" "latest-amazon-linux2" {
  most_recent = true
  owners = ["amazon"]

  filter {
    name   = "name"
    values = ["amzn2-ami-hvm*"]
    # values = ["amzn2-ami-hvm-*-x86_64-ebs"]
  }
}

# Create Security Group
resource "aws_security_group" "fah-security-group" {
  vpc_id      = aws_vpc.fah-vpc.id
  name        = "FAH-SecurityGroup"
  description = "Security Group for Folding@Home instances."

  egress {
    protocol    = "-1"
    from_port   = 0
    to_port     = 0
    cidr_blocks = ["0.0.0.0/0"]
  }
}

resource "aws_security_group_rule" "fah-web-port" {
  type        = "ingress"
  protocol    = "tcp"
  from_port   = $var_fah_webadmin_port
  to_port     = $var_fah_webadmin_port
  cidr_blocks = ["$var_your_ip_address/32"]
  security_group_id = aws_security_group.fah-security-group.id
}

resource "aws_security_group_rule" "ssh-access" { 
  type        = "ingress"
  protocol    = "tcp"
  from_port   = 22
  to_port     = 22
  cidr_blocks = ["$var_your_ip_address/32"]
  security_group_id = aws_security_group.fah-security-group.id
}

# Create VM
resource "aws_instance" "fah-instance" {
  count                       = "$var_aws_ec2_instance_count"
  instance_type               = "$var_aws_instance_type"
  ami                         = data.aws_ami.latest-amazon-linux2.id
  vpc_security_group_ids      = [aws_security_group.fah-security-group.id]
  subnet_id                   = aws_subnet.public-subnet-1.id
  key_name                    = "fah-key-pair"
  associate_public_ip_address = true
  user_data                   = file("../bin/user-data.sh")
  $var_ec2_instance_profile

  tags = {
    Name              = "folding@home-$${count.index + 1}"
    ResourceCreatedBy = "$var_aws_tag_fah"
  }
}

# Output
output "fah-instance-public-ip" {
  value = aws_instance.fah-instance.*.public_ip
}
